<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
        <div v-if="showBooks">
            <p>The {{ title }} written by {{ author }} and his age is : {{ age }}</p>
        </div>
        <button @click="toggleBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks"> currently using v-show</div>
        
        <button @click = "age++">Increase the age</button>
        <button @click = "age--">Decrease the age</button>
        <div class="Title" @click="changeTitle('Malinga')">Change Title</div>
    </div>
</body>
<script src="./app.js"></script>
</html>